/* ELEMENT RESETS*/

*,*::before,*::after {
	box-sizing: inherit;
}

:root {
	--color-neutral-dark:#8FC08C;
	--color-neutral-medium:#FC9EA0;
	--color-neutral-light:#FCB170;

	 --color-main-light: #8FC08C;
    --color-main-medium: #FC9EA0;
    --color-main-dark: #FCB170;

	--color-black:black;
	--color-white:white;
	

    /* --header-height:inherit;*/
    --header-height:3rem;
}


body {
	box-sizing: border-box;
	margin:0;
	font-size: 100%;
	font-family: Helvetica,Verdana,sans-serif;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia,"Times New Roman",serif;

}*/

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

code {
	white-space: pre-wrap;
	text-align: left;
}


/* LOGO */

.logo {
	position: relative;
}

.logo img {
	height: 3em;
	vertical-align: text-bottom;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/* TOP SQUARE KIND PART */

.topads {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

}

.ads {
	background-color: white;
	overflow: hidden;
	position: relative;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-flex;
}


/* SMALL CLASSES */

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

/* ATOMIC CLASSES */

.display-flex {display:flex;}
.display-inline-flex {display:inline-flex;}
.display-block {display:block;}
.display-inline-block {display:inline-block;}

.flex-stretch {flex: 1 1 auto;}
.flex-none {flex:none;}

.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}

/* COMPONENT CLASSES*/

.navbar {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
	line-height: var(--header-height);
	/* background-color: var(--color-neutral-medium);
	   background-color: var(--color-neutral-light); */

}

.navbar h1 {
	margin: 0;
	font-size: 1rem;
}

.navbar a {
	padding:0 1em;
}


/* NAV */
.nav-crumbs ul,
.nav-pills ul,
.nav-stretch ul,
.nav-flex ul,
.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.nav-pills a,
.nav-stretch a,
.nav-flex a,
.nav a {
	display: block;
	padding: 0.2em 0.5em;
}


.nav-pills a:hover,
.nav-stretch a:hover,
.nav-flex a:hover,
.nav a:hover {
	background-color: var(--color-main-medium);
	color: var(--color-white);
	text-decoration: none;
}


.nav-pills li.active a,
.nav-stretch li.active a,
.nav-flex li.active a,
.nav li.active a {
	background-color: var(--color-mainl-light);
	color: inherit;
}


.nav-crumbs ul,
.nav-pills ul,
.nav-stretch ul,
.nav-flex ul {
	display: flex;
}

.nav-stretch li {
	flex: 1 1 auto;
	text-align: center;
}


.nav-pills a {
	border-radius: 2em;
	padding: 0.5em 1em;
}

.nav-crumbs li:not(:first-child)::before {
	content: '/';
	margin: 0 0.4em;
}




/* CARD */

.card {
	background-color: #adccab73;
	overflow: hidden;
	position: relative;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}


.card>:first-child {margin-top: 0;}
.card>:last-child {margin-bottom: 0;}


.card.soft {
	box-shadow: 6px 5px 15px 10px rgba(0,0,0,0.1);
	border-radius: 0.3em;
}

.card.medium {
	background-color: var(--color-neutral-medium);
}

.card.dark {
	background-color: var(--color-neutral-dark);
	color:var(--color-neutral-light);
}

.card.flat {
	padding: 0;

}

/* VIEW WINDOW */
.view-window {
	/* height: 50vh; */
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



/* TABLE */
table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	text-align: left;
	padding: 0.2em 0.5em;
}