:root {
    --color-neutral-dark: #000;
    --color-neutral-medium: #797979;
    --color-neutral-light: #eee;
}


body {
	/*background-color:var(--color-neutral-light);*/
}

/*h2 {
	font-size: 1.5rem;
}
*/

[class*='col-']>.card {
	height:100%;
	margin:0;
}

@media (max-width: 600px) {
	.navbar .display-flex {
		display: block;
	}
}



footer {
	background-color: #000;
	color: #fff;
    padding: 30px 20px;
	height: 80px;
	font-size: 0.75rem;
	font-style: italic;
	text-align: center;
}
