:root {
    --color-neutral-dark: #333;
    --color-neutral-medium: #999;
    --color-neutral-light: #eee;
}


body {
	background-color:var(--color-neutral-light);
}

h2 {
	font-size: 1rem;
}

footer {
	background: #fff;
    padding: 30px 20px;
	height: 80px;
	font-style: italic;
	text-align: center;
}
