:root {
    --color-neutral-dark: #000;
    --color-neutral-medium: #797979;
    --color-neutral-light: #eee;
}


body {
/*	background-color: var(--color-neutral-light);*/	
/*	padding-bottom: 2.5em;
*/}


[class*='col-']>.card {
	height:100%;
	margin:0;
}



/* FIGURE */
.product-figure {
	margin: 0;
}
.product-figure img {
	width: 100%;
	object-fit: cover;
	max-height: 30vh;
	vertical-align: text-bottom;
}
.product-figure figcaption {
	padding: 0.5em;
	/*background-color: #fff;*/
	font-size: 1rem;
}
	.product-figure.soft {
		box-shadow: 3px 3px 6px 6px rgba(0,0,0,0.05);
		border-radius: 0.5em;
		overflow: hidden;
	}
	.product-figure.overlay {
		position: relative;
		overflow: hidden;
	}
	.product-figure.overlay figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		transition: all 0.3s;
		opacity: 0;
	}
	.product-figure.overlay:hover figcaption {
		opacity: 1;
	}
	.product-figure.overlay img {
		transition: all 0.5s;
		transform: scale(1,1);
	}
	.product-figure.overlay:hover img {
		transform: scale(1.3,1.3);
	}



@media (max-width: 600px) {
	.navbar .display-flex {
		display: block;
	}
}
