body{
    background-color:antiquewhite;
    font-family:fantasy;
    padding: 80px;
    margin: 0px;
}
h1 {
    color: black;
    font-size: 50;
    text-align: center;
    font-weight: bold;
    
}

#first_paragraph {
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    color: darkgoldenrod;
    font-style: italic;
    margin:middle;
    text-align: center
}

h3{
    font-size: 25;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:inherit;
}

#pancake {
    height: 400px;
    width:inherit;
}

.places{
    font-family:monospace;
    font-size:20;
    margin-bottom: 1%;
}
span{
    background-color:#e8895d;
}

.togo{
    font-family:monospace;
    font-size:18;
    margin-top: 1%;
}

#egg {
    height:250px;
    width: inherit;
}

#coffee{
    height:200px;
    width:inherit;
}

#restaurant {
    border color:firebrick;
    border width: 0.1px;
    border-style:double;
    
    font-size: 15pt;
    
    padding-right:0.1px; 
    margin left: 15px;
    margin-right: 15px;
}


