


.card{


	background-color: white;
	overflow: hidden;
	position: relative;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;


}


.card>:first-child {margin-top: 0;}
.card>last-child {margin-bottom: 0;}


.card.soft {

box-shadow:6px 5px 15px 10px rgba (0,0,0,0.1);
border-radius: 0.3em;
}



.card.medium{

background-color: var(--color-neutral-medium);

}


.card.dark{

background-color: var(--color-neutral-dark);
color: var(--color-neutral-light);


}


.card.flat{


padding: 0;

}



/*view-window*/
.view-window{


height: 50vh;
overflow: hidden;
position: relative;
background-size: cover;
background-position:center;
background-attachment: fixed;



}


































