:root {
	--color-neutral-dark: #333;
	--color-neutral-medium: #999;
	--color-neutral-light: #eee;

	--color-main-light: #eac3fa;
	--color-main-medium: #8d39b0;
	--color-main-dark: #44105a;

	--color-confirm-light: #b8ffb8;
	--color-confirm-medium: #37ec37;
	--color-confirm-dark: #096609;
}


body {
	background-color:var(--color-neutral-light);
	padding-bottom:10em;
}




[class*='col-']>.card {
	height:100%;
	margin:0;
}



.navbar {
	margin-bottom:1em;
}




/* FIGURE */
.product-figure {
	margin:0;
	height:100%;
}
.product-figure img {
	width:100%;
	object-fit:cover;
	height:30vh;
	vertical-align: text-bottom;

}
.product-figure figcaption {
	padding:1em;
	background-color:white;
}

	.product-figure.soft {
		border-radius:1em;
		overflow:hidden;
		box-shadow:0 2px 5px rgba(0,0,0,0.1);
	}

	.product-figure.overlay {
		position:relative;
		overflow:hidden;
		border-radius:1em;
	}
	.product-figure.overlay figcaption {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
		transition:all 0.3s;
		opacity:0;
	}
	.product-figure.overlay:hover figcaption {
		opacity:1;
	}
	.product-figure.overlay img {
		transition:all 0.5s;
		transform:scale(1,1);
	}
	.product-figure.overlay:hover img {
		transform:scale(1.4,1.4);
	}

	.product-description {
		font-weight:normal;
		text-decoration:none;
	}





.product-main img {
	width:100%;
	height:40vh;
	object-fit:cover;
}
.product-thumbs img {
	height:75px;
	width:100px;
	object-fit:cover;
}
h2.product-title {
    margin: 0;
    font-size:2.5em;
}
.product-category {
    margin-bottom: 1rem;
    font-size: 0.9em;
    color: var(--color-neutral-medium);
}





.image-square img {
	width:5em;
	height:5em;
	object-fit:contain;
	object-position:center;
}
.itemlist-item {
	margin:1em;
	padding:1em;
	border-radius:0.5em;
	border:1px solid var(--color-neutral-light);
}







@media (max-width:600px) {
	.navbar .display-flex {
		display:block;
	}
}