body {
	box-sizing: border-box;
	margin: 0;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
}

h1 {
	font-family: Avenir;
}

h2 {
	font-family: Avenir;
}


a {
	color: black;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;

}


.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.card {
	background-color: white;
	overflow: hidden;
	position: relative;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}


.navbar h1{
	margin: 0;
	font-size: 1rem;
}

.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.nav a {
	padding: 0 1 em;
}



