:root {
    --color-neutral-dark: #333;
    --color-neutral-medium: #999;
    --color-neutral-light: #eee;
}

<<<<<<< HEAD

body {
	background-color:var(--color-neutral-light);
	padding-bottom:10em;
}




[class*='col-']>.card {
	height:100%;
	margin:0;
}



@media (max-width:600px) {
	.navbar .display-flex {
		display:block;
	}
}

=======
body {
    background-color: var(--color-neutral-light);
}

[class+='col-']>.card {
    height: 100%;
    margin: 
}
>>>>>>> c2d6ea859766ff826b5096cb93775e1f05849351
