:root {
    --color-neutral-dark: #333;
    --color-neutral-medium: #999;
    --color-neutral-light: #eee;
}


body {
	background-color:var(--color-neutral-light);
	padding-bottom:10em;
}




[class*='col-']>.card {
	height:100%;
	margin:0;
}



@media (max-width:600px) {
	.navbar .display-flex {
		display:block;
	}
}

