:root {
	--color-neutral-dark: #9e9e9e;
	--color-neutral-medium: #999;
	--color-neutral-light: #ffffff;

	--color-main-light: #eac3fa;
	--color-main-medium: #fc4312;
	--color-main-dark: #44105a;

	--color-confirm-light: #b8ffb8;
	--color-confirm-medium: #37ec37;
	--color-confirm-dark: #096609;
}


body {
	background-color:var(--color-neutral-light);
	padding-bottom:10em;
}




[class*='col-']>.card {
	height:100%;
	margin:0;
}



.navbar {
	margin-bottom:1em;
}

.pagename {
	margin-bottom:1.5em;
}




/* FIGURE */
.product-figure {
	margin:0;
	height:100%;
}
.product-figure img {
	width:100%;
	object-fit:cover;
	height:30vh;
	vertical-align: text-bottom;

}
.product-figure figcaption {
	padding:2em;
	background-color:white;
}

	.product-figure.soft {
		border-radius:0em;
		overflow:hidden;
	}

.product-figure.flat {
		border-radius:0em;
		overflow:hidden;
	}

	.product-figure.overlay {
		position:relative;
		overflow:hidden;
		border-radius:1em;
	}
	.product-figure.overlay figcaption {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,3);
		transition:all 0.3s;
		opacity:0;
	}
	.product-figure.overlay:hover figcaption {
		opacity:10;
	}
	.product-figure.overlay img {
		transition:all 0.5s;
		transform:scale(1,1);
	}
	.product-figure.overlay:hover img {
		transform:scale(1.4,1.4);
	}

	.product-description {
		font-weight:normal;
		text-decoration:none;
		font-size: 16px;

	}

	.product-name {
		font-family:'Raleway', sans-serif;
		font-weight: 500;
		font-size: 20px;
		text-decoration:none;
	}






.product-main img {
	width:100%;
	height:100%;
	object-fit:cover;
}
.product-thumbs img {
	width:33.3%;
	object-fit:cover;
	padding-top: 0.5em;
	padding-bottom: 1em;
	float: left;

}

.pagename{
	font-family:'Raleway', sans-serif;
	font-weight:400;
	font-size:30px;
	padding-top: 0.5em;

}

.thankyou {
		display: block;
		font-family:'Raleway', sans-serif;
		font-weight: 400;
		font-size: 1.7em;
		text-decoration:none;
		text-align: center;

}


}
h2.product-name {
    margin: 0;
    font-size:2.5em;
}
.product-category {
    margin-bottom: 1rem;
    font-size: 0.9em;
    color: var(--color-neutral-medium);
}

.product-price{
	margin: 0;
    font-size:1.2em;
}



.image-square img {
	width:7em;
	height:7em;
	object-fit:contain;
	object-position:center;
	margin-right: 2em;
}
.itemlist-item {
	margin:1em;
	padding:1em;
	border-radius:0.5em;
	border:1px solid var(--color-neutral-light);
}










@media (max-width:600px) {
	.navbar .display-flex {
		display:block;
	}
}