/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:inherit;
}

:root {
    --color-neutral-dark: #332d2d;
    --color-neutral-medium: #988c8c;
    --color-neutral-light: #ece7e7;

    --header-height:3rem;
}

body {
	/*background: url("img/bg_01.png") no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100vh;*/
	box-sizing:border-box;
	margin:0;
	font-size:100%;
	font-family:roboto,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:Montserrat,"Times New Roman",serif;
	display: block;
	margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{

	font-weight: 600;
}

h3{
	font-size: 1em; 
	color: rgb(51, 51, 51);
    font-weight: 100;
}



a {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*SECTION CLASSES */

.hero_section{
	display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero_image_section{

   /* height:100vh;
	overflow:hidden;
	position:relative;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;*/
    height: 100vh;
    width: 100%;
    display: flex;
    background-size:cover;
	background-position:center;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position:relative;
    z-index: 0;
	
}

.hero_section2{

    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #FFF;
}
.hero_image_section2{
	margin-top: 1em;
	height: 100vh;
    width: 100%;
    background-size:cover;

}
.hero_pitch{
	color: #fff;
	font-size: 3em;
    line-height: 60px;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    z-index: 1;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;

   
}

.logo{
	padding: 2em 0.5em;
	max-width: 250px;
	position: absolute;
	z-index: 1;
}

.text_part{
    padding: 30px 100px;
    font-weight: 100;
}

.small_title{
	font-family: Montserrat;
	text-align: left;
}

.big_title{
	font-size: 1.5em;
	text-align: left;
	color: rgb(51, 51, 51);
    font-weight: 400;
    
}

.product_discribe{
	font-size: 1em;
	text-align: left;
	color: rgb(51, 51, 51);
    font-weight: 100;
    margin: 0;
    padding: 0;

}



/* SMALL CLASSES */

.container {
	
	max-width:1000px;
	margin-right: auto;
	margin-left: auto;
}



/* ATOMIC CLASSES */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }


.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }




/* COMPONENT CLASSES */

.navbar {
	background-color: #1c1e20;
    color: #FFFFFF;
    line-height: var(--header-height);
}
.navbar h1 {
	margin:0;
	font-size:1rem;
}
.navbar a {
	padding: 0 1em;
}

.nav ul {
	list-style-type:none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}




/* card */

.card {
	
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
	.card>:first-child { margin-top:0; }
	.card>:last-child { margin-bottom:0; }

	.card.soft {
	    box-shadow: 6px 5px 15px 10px rgba(0, 0, 0, 0.1);
		border-radius:0.3em;
	}
	.card.medium {
		background-color:var(--color-neutral-medium);
	}
	.card.dark {
		background-color:var(--color-neutral-dark);
		color:var(--color-neutral-light);
	}
	.card.flat {
		padding:0;
	}



/* view window */
.view-window {
	height:100vh;
	overflow:hidden;
	position:relative;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}